.images {
  background: #e5e7eb;
}

.images td {
  padding: 5px;
}

.images td.danger {
  background-color: rgba(255, 0, 0, 0.2);
}

.images td.warning {
  background-color: rgb(255, 237, 213);
}

.images td.success {
  background-color: #bbf7d0;
}

.images td:first-child {
  border-right: 1px solid #ccc !important;
}

.images td:last-child {
  border-left: 1px solid #ccc !important;
}

.btn-ocr {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  font-weight: 600;
  box-shadow: 0 4px 6px #0000004a;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-ocr:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 8px #00000075;
}
