@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ComicNeue';
  src: local('Comic Neue Light'),
    url('../fonts/ComicNeue-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'ComicNeue';
  src: local('Comic Neue'),
    url('../fonts/ComicNeue-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ComicNeue';
  src: local('Comic Neue Bold'),
    url('../fonts/ComicNeue-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: 'ComicNeue' !important;
}
